[flake8]
max-line-length = 100
exclude = .venv,.git,__pycache__,.scratch,gui
# Cosmetic codes the v1 codebase trips everywhere; new code is written clean.
extend-ignore = E203,W503,E501,E129,W293,W291,W391,E302,E303,E305,E128,E127,E261,E265,E231,E402,F401,F541,F841,F811,E722
